/* YOUR CUSTOM STYLES */
@media screen and (min-width: 770px) {
	@media screen and (min-height: 420px) {
		.botonera {
			padding-top: 30%;
		}
	}
}

/**
+	Body
**/ 
body{
	background-color: #e6ecf0;
}

/**
* Tablas
*/

.tabla-general {
	padding-top : 2em;
	padding-right : 2em;
	padding-left : 2em;
	border-collapse: collapse;
	border: 2px solid black;
}

.tabla-general td {
	border: 1px solid black;
}

tr th {
	color: white; /* color de texto de encabezado de columnas de tablas */
	font-family: Roboto;
	font-weight: bold;
}

.titulo-tabla {
	font-size : 1.5em;
	font-weight: normal;
	padding : 2px;
}

/**
* Imagenes
*/

.icono-celda {
	position:relative;
    text-align:center;
}

.imagenEntrenador{
	padding-left: 0px;
}

.imagenPokemon{
	width: 176px;
	height: 176px;
}

.imagenTabla{
	width: 30px;
	height: 30px;
}

.imagenEncabezado {
	width: 30px;
	height: 30px;
}

/**
* General
*/

.pokeparada{
	color: red;
}

.footerSocial{
	height: 40px;
}

.floatLeft{
	float: left;
}
